.headerGrid {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.limitedWidth {
  max-width: 1200px;
}

.divider {
  height: 4px;
  background: #555c71;
  opacity: 0.5;
}
