.installContainer {
  background: #f8f8fa;
  color: black;
  padding: 16px 24px;
  border-radius: 8px;
  font-family: 'Overpass Mono', monospace;
  margin-bottom: 8px;
  margin-top: 32px;
}

.installArgsString {
  color: #cc0052;
}

.installArgsParam {
  color: #778;
}

.installArgsCommand {
  font-weight: bold;
}

.link {
  color: #555c71;
  opacity: 0.5;
  transition: all 0.2s;
  font-size: 0.8rem;
}

.link:hover {
  opacity: 1;
  text-decoration: underline;
  cursor: pointer;
}
