.installContainer {
  background: black;
  color: white;
  padding: 16px 24px;
  font-size: 0.8rem;
  border-radius: 8px;
  font-family: 'Fira Code', monospace;
  margin-bottom: 8px;
  margin-top: 32px;
}

.installArgsString {
  color: #00ff00;
}

.installArgsParam {
  color: #aaa;
}

.installArgsCommand {
  font-weight: bold;
}

.link {
  color: #555c71;
  opacity: 0.5;
  transition: all 0.2s;
  font-size: 0.8rem;
}

.link:hover {
  opacity: 1;
  text-decoration: underline;
  cursor: pointer;
}
