.logoImage {
  height: 64px;
  margin-bottom: 64px;
  /* transform: perspective(100px) rotateY(20deg); */
  /* animation: logo 10s infinite; */
}

@keyframes logo {
  0% {
    transform: perspective(100px) rotateY(0deg);
  }

  25% {
    transform: perspective(100px) rotateY(90deg);
  }
  50% {
    transform: perspective(100px) rotateY(180deg);
  }
  75% {
    transform: perspective(100px) rotateY(270deg);
  }
  100% {
    transform: perspective(100px) rotateY(360deg);
  }
}
