html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a.primary {
  color: #555c71;
  transition: all 0.2s;
}

a.primary:hover {
  text-decoration: underline;
}

a.primary:focus {
  color: #cc0052;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #555c71;
  font-family: 'DM Serif Display', serif;
}

h1 {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 32px;
  text-align: center;
}

.sectionCurrent {
  color: #cc0052 !important;
}

.sectionScrolledPast {
  color: #555c71;
  opacity: 0.3;
}

pre {
  background: #f8f8fa;
  margin: 32px -32px;
  padding: 32px;
  tab-size: 4;
  border-radius: 8px;
}

code {
  font-family: 'Overpass Mono', monospace;
  line-height: 1.2rem;
}

ul,
ol {
  list-style-position: outside;
  padding: 0px;
}

li::marker {
  color: #cc0052;
}

table {
  width: 100%;
}

tr {
  background: #f8f8fa;
}

th {
  padding: 8px;
  text-align: left;
  background: #cc0052;
  color: white;
}

td {
  padding: 8px;
}

table code {
  color: #cc0052;
  font-family: 'Overpass Mono', monospace;
  background: rgba(204, 0, 82, 0.05);
  border-radius: 4px;
}
